<div id="chat">
      <div id="nickname">
        <form class="wrap" id="set-nickname">
          <label for="nick">Please type in your nickname and press enter.</label>
          <input id="nick" name="nick" type="text" placeholder="nickname" />
          <p id="nickname-err">Nickname already in use</p>
        </form>
      </div>
      <div id="connecting">
        <div class="wrap">Connecting to socket.io server</div>
      </div>
      <div id="messages">
        <div id="nicknames"></div>
        <div id="lines"></div>
      </div>
      <form id="send-message">
        <input id="message" type="text"/>
        <div>
          <button value="" class="send">Send</button>
          <div class="filebutton">Send Image<input type="file" id="imagefile" accept="image/*"></div>
        </div>
      </form>
</div>